[flake8]

# Максимальная длина строки
max-line-length = 119

# Список кодов ошибок, которые нужно игнорировать
ignore = E501, W503

# Исключение директорий
exclude =
    .git,
    __pycache__,
    build,
    dist,
    venv

